{% extends "required/base.html" %}
{% load static %} 
{% block content %}
 
<!-- Hero Slider Begin -->
    <section class="hero-slider">
        <div class="hero-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-2.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="{% static 'img/slider-3.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->

    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first">
                            <img src="{% static 'img/icons/f-delivery.png' %}" alt="">
                            <h4>Free shipping</h4>
                            <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                                esuada aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second">
                            <img src="{% static 'img/icons/coin.png' %}" alt="">
                            <h4>100% Money back </h4>
                            <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="{% static 'img/icons/chat.png' %}" alt="">
                            <h4>Online support 24/7</h4>
                            <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Box -->
        <div class="features-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-box-item first-box">
                                    <img src="{% static 'img/f-box-1.jpg' %}" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2019 Party</span>
                                        <h2>Jewelry</h2>
                                        <span class="trend-alert">Trend Allert</span>
                                        <a href="#" class="primary-btn">See More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-box-item second-box">
                                    <img src="{% static 'img/f-box-2.jpg' %}" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2019 Trend</span>
                                        <h2>Footwear</h2>
                                        <span class="trend-alert">Bold & Black</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-box-item large-box">
                            <img src="{% static 'img/f-box-3.jpg' %}" alt="">
                            <div class="box-text">
                                <span class="trend-year">2019 Party</span>
                                <h2>Collection</h2>
                                <div class="trend-alert">Trend Allert</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Latest Products</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter="*">All</li>
                            <li data-filter=".dresses">Dresses</li>
                            <li data-filter=".bags">Bags</li>
                            <li data-filter=".shoes">Shoes</li>
                            <li data-filter=".accesories">Accesories</li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="row" id="product-list">
                {% for i in object_list %}
                 <div class="col-lg-3 col-sm-6 mix {{i.title | lower}}">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="{{ i.image_thumbnail.url }}" alt="{{ i.title}}"></a>
                            {% if i.featured %}
                            <div class="p-status">new</div>
                            {% else %}
                            <div class="p-status sale">sale</div>
                            {% endif %}
                            
                        </figure>
                        <div class="product-text">
                            <h6>{{i.description}}</h6>
                            <p>shs.{{i.price}}</p>
                        </div>
                    </div>
                </div> 
                 {% comment %} <div class="col-lg-3 col-sm-6">
                     <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="{{ i.image_thumbnail.url}}" alt="{{ i.title}}"></a>
                            {% if i.featured %}
                            <div class="p-status">new</div>
                            {% else %}
                            <div class="p-status sale">sale</div>
                            {% endif %}
                            
                        </figure>
                        <div class="product-text">
                            <h6>{{i.description}}</h6>
                            <p>shs.{{i.price}}</p>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% endfor %}   
                 

            </div>
        </div>
    </section>
    <!-- Latest Product End -->

    <!-- Lookbok Section Begin -->
    <section class="lookbok-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2>2019 <br />#lookbook</h2>
                        </div>
                        <p>{{product.description}}</p>
                            
                        <a href="#" class="primary-btn look-btn">See More</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="lookbok-pic">
                        <img src="{{product.image.url}} " alt="">
                        <div class="pic-text">fashion</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Lookbok Section End -->

    <!-- Logo Section Begin -->
    <div class="logo-section spad">
        <div class="logo-items owl-carousel">
            <div class="logo-item">
                <img src="{% static 'img/logos/logo-1.png' %}" alt="">
            </div>
            <div class="logo-item">
                <img src="{% static 'img/logos/logo-2.png' %}" alt="">
            </div>
            <div class="logo-item">
                <img src="{% static 'img/logos/logo-3.png' %}" alt="">
            </div>
            <div class="logo-item">
                <img src="{% static 'img/logos/logo-4.png' %}" alt="">
            </div>
            <div class="logo-item">
                <img src="{% static 'img/logos/logo-5.png' %}" alt="">
            </div>
        </div>
    </div>
    <!-- Logo Section End -->
{% endblock  %}
