{% extends "required/base.html" %}
{% load static %}
{% block content %}
    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>{{object.title}}<span>.</span></h2>
                        <a href="{% url 'product' %}">Home</a>
                        <a href="{% url 'category' %}">Dresses</a>
                        <a class="active" href="">{{object.name}}</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="{% static 'img/add.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Product Page Section Beign -->
    <section class="product-page">
        <div class="container">
            <div class="product-control">
                <a href="{{ previous_product.get_absolute_url }}">Previous</a>
                <a href="{{ next_product.get_absolute_url }}">Next</a>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="product-slider owl-carousel">
                        {% for img in images %}
                        <div class="product-img">
                            <figure>
                               <a href="../../media/{{ img.image }}" ><img src="../../media/{{ img.image }}" alt="{{ i.title}}"> </a>
                                 {% if object.featured %}
                                <div class="p-status">new</div>
                                {% else %}
                                <div class="p-status sale">sale</div>
                               {% endif %}
                            </figure>
                        </div>
                         {% endfor %}  
                  </div>  
                </div>
                <div class="col-lg-6">
                    <div class="product-content">
                        <h2>{{object.name}}</h2>
                        <div class="pc-meta">
                            <h5>shs.{{object.price}}</h5>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <p>{{ object.details }} </p>
                        <ul class="tags">
                            <li><span>Category :</span> {{object.catergory}}</li>
                            <li><span>Tags :</span> man, shirt, dotted, elegant, cool</li>
                        </ul>
                        <div class="product-quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>

                        <a href="#" class="primary-btn pc-btn">Add to cart</a>
                        <ul class="p-info">
                            <li>Product Information</li>
                            <li>Reviews</li>
                            <li>Product Care</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Product Page Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
             {% for item in items %}
                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="{{ item.get_absolute_url }}"><img src="../../media/{{ item.image.first.image }}" alt=""></a>
                            {% if item.featured %}
                            <div class="p-status">new</div>
                            {% else %}
                            <div class="p-status sale">sale</div>
                            {% endif %}
                        </figure>
                        <div class="product-text">
                            <h6>{{item.name}}</h6>
                            <p>shs.{{item.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="{% static 'img/products/img-4.jpg' %}" alt=""></a>
                            <div class="p-status popular">popular</div>
                        </figure>
                        <div class="product-text">
                            <h6>Blue Dress with details</h6>
                            <p>$35.50</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
{% endblock  %}

    